@import url(./css/reset.css);

body {
    background: url(./img/wally/bg.png);
}

#logo {
    width: 180px;
    height: 190px;
    margin: 40px;
    background: url(./img/wally/logo.png) no-repeat;
    text-indent: -9999px;
    font-size: 0;
}

#control {
    width: 180px;
    height: 180px;
    margin: 40px;
    background: #d4433b;
    border-radius: 50%;
    position: relative;
    overflow: auto;
}

/*스타일 상쇄 풀어주기*/

#control a {
    display: block;
    width: 180px;
    height: 25px;
    margin: 20px 0;
    text-indent: -9999px;
    font-size: 0;
    background: url(./img/wally/arrow.png) no-repeat center top;
    opacity: 0.75;
}

#control a:hover {
    opacity: 1;
}

#control a#arrBottom {
    background-position: bottom center;
    position: absolute;
    bottom: 0;
}

#control #heightBox {
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: #d4433b;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
}

#wally {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 280px;
    transform: translateX(-50%);
}

#face {
    background: url(./img/wally/face.png);
    width: 100px;
    height: 130px;
    position: relative;
    left: 130px;
    top: 80px;
    z-index: -1;
}

#body {
    background: url(./img/wally/body.png) no-repeat;
    height: 320px;
}

#leg {
    background: url(./img/wally/leg.png) no-repeat;
    height: 180px;
    background-position: bottom;
}